piglets-examples/decision-table-test-runner/sectionIntersection.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:sec="http://www.wbesigni.org/piglets/sectionIntersetion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sectionIntersection" targetNamespace="http://www.wbesigni.org/piglets/sectionIntersetion">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.wbesigni.org/piglets/sectionIntersetion">
      <xsd:element name="CheckRange">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="start" type="xsd:int" />
          	<xsd:element name="end" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckRangeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result">
            	<xsd:simpleType>
            		<xsd:restriction base="xsd:string">
            			<xsd:enumeration value="OK"></xsd:enumeration>
            			<xsd:enumeration value="FAULT"></xsd:enumeration>
            			<xsd:enumeration value="MIXED"></xsd:enumeration>
            			<xsd:enumeration value="OUTOFRANGE"></xsd:enumeration>
            		</xsd:restriction>
            	</xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CheckRangeRequest">
    <wsdl:part element="sec:CheckRange" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CheckRangeResponse">
    <wsdl:part element="sec:CheckRangeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="sectionIntersection">
    <wsdl:operation name="CheckRange">
      <wsdl:input message="sec:CheckRangeRequest"/>
      <wsdl:output message="sec:CheckRangeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sectionIntersectionSOAP" type="sec:sectionIntersection">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckRange">
      <soap:operation soapAction="http://www.wbesigni.org/piglets/sectionIntersetion/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sectionIntersection">
    <wsdl:port binding="sec:sectionIntersectionSOAP" name="sectionIntersectionSOAP">
      <soap:address location="http://localhost:9998/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
