piglets-examples/stateless-driving-licence-ws-test-harness/drivingLicence.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:drlc="http://www.websigni.org/drivingLicence/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="drivingLicence" targetNamespace="http://www.websigni.org/drivingLicence/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.websigni.org/drivingLicence/">
      <xsd:element name="SubmitDrivingLicenceApplication">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="messageId" type="xsd:string" />
          	<xsd:element name="applicant" type="drlc:Applicant"></xsd:element>
          	<xsd:element name="application" type="drlc:Application"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitDrivingLicenceApplicationResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="messageId" type="xsd:string"></xsd:element>
          	<xsd:element name="submissionResult" type="drlc:SubmissionResult"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Applicant">
      	<xsd:sequence>
      		<xsd:element name="identificationNumber"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="surname" type="xsd:string"></xsd:element>
      		<xsd:element name="age" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Application">
      	<xsd:sequence>

                    <xsd:element name="number" type="xsd:string"></xsd:element>
                    <xsd:element name="submissionDate" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SubmissionResult">
      	<xsd:sequence>
      		<xsd:element name="applicant" type="drlc:Applicant"></xsd:element>
      		<xsd:element name="application" type="drlc:Application"></xsd:element>
      		<xsd:element name="accepted" type="xsd:boolean"></xsd:element>

                    <xsd:element name="decisionDescription" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubmitDrivingLicenceApplicationRequest">
    <wsdl:part element="drlc:SubmitDrivingLicenceApplication" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubmitDrivingLicenceApplicationResponse">
    <wsdl:part element="drlc:SubmitDrivingLicenceApplicationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="drivingLicence">
    <wsdl:operation name="SubmitDrivingLicenceApplication">
      <wsdl:input message="drlc:SubmitDrivingLicenceApplicationRequest"/>
      <wsdl:output message="drlc:SubmitDrivingLicenceApplicationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="drivingLicenceSOAP" type="drlc:drivingLicence">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubmitDrivingLicenceApplication">
      <soap:operation soapAction="http://www.websigni.org/drivingLicence/SubmitDrivingLicenceApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="drivingLicence">
    <wsdl:port binding="drlc:drivingLicenceSOAP" name="drivingLicenceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
